.Logo {
    height: 3rem;
    display: flex;
}

.figure-logo {
    display: flex;
    width: 15%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1200px) {
    .Logo {
        height: 5rem;
    }
}