h2 {
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 0rem 0 1rem 0;
    background-color: #EE2677;
}

.projects {
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.icon-tools {
    font-size: 2rem;
}

.icon-text {
    display: none;
}

.tool-box {
    display: flex;
    justify-content: space-evenly;
}

.projects-container {
    width: 100%;
}

.tool-circle {
    display: flex;
    width: 3.5rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 720px) {
    .projects {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .projects-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .projects-title {
        margin-top: 4.5rem;
    }
    .icon-tools {
        font-size: 2rem;
    }
    .icon-text {
        display: flex;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
    }
    .tool-box {
        flex-wrap: wrap;
    }
}