.contact-container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    color: #08415C;
    font-size: 1.5rem;
}

.contact-labels {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-decoration: none;
    color: #08415C;
}