.contact-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-evenly;
    font-size: 1.5rem;
    height: 80%;
}

.contact-labels {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 3rem;
    width: 3rem;
    color: white;
    border-radius: 100%;
    margin: 0 0.5rem;
    cursor: pointer;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ee2677+1,006cff+100 */
    background: #ee2677;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ee2677 1%, #006cff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ee2677 1%, #006cff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ee2677 1%, #006cff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ee2677', endColorstr='#006cff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.icon-label-container {
    display: flex;
    width: 100%;
    align-items: center;
}

@media screen and (min-width: 720px) {
    span {
        display: flex;
    }
    .icon-label-container {
        flex-direction: column;
        width: 33%;
    }
    .contact-labels:hover {
        background-color: #EE2677;
        transform: scale(1.1);
    }
    .contact-labels {
        font-size: 2.5rem;
        height: 6rem;
        width: 6rem;
    }
    .contact-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 30%;
    }
}