.article {
    width: 100%;
    height: 60vh;
    padding: 0.5rem;
}

.flag-info {
    width: 100%;
    display: flex;
    color: white;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    background-color: #08415C;
}

.p-card {
    color: white;
    display: block;
    width: 75%;
}

.date {
    display: flex;
    width: 40%;
    padding: 0;
    margin: 0px;
    font-size: 1rem;
    font-weight: normal;
    align-items: center;
}

.title {
    display: flex;
    margin: 0px;
    width: 60%;
    font-size: 1.5rem;
}

.plus-button {
    width: 3rem;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 100%;
    background-color: #EE2677;
}

.figure-card {
    margin: 0;
    display: flex;
    justify-content: center;
}

.figure-card img {
    -webkit-box-shadow: -2px -2px 5px 3px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px -2px 5px 3px rgba(0, 0, 0, 0.59);
    box-shadow: -2px -2px 5px 3px rgba(0, 0, 0, 0.59);
}

.tools,
.links-to-code,
.links-to-live {
    display: none;
}