.article {
    width: 100%;
    margin: 2.5rem 0;
    position: relative;
    height: 400px;
}

.flag-info {
    width: 100%;
    display: flex;
    color: white;
    height: 120px;
    transition: height 0.5s;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    background-color: #08415C;
    position: absolute;
    bottom: 0;
}

.all-info {
    height: 425px;
    background-color: rgba(8, 65, 92, 0.96);
}

.p-card {
    color: white;
    display: block;
    width: 75%;
    margin: 0;
}

.description {
    width: 100%;
}

.date {
    display: flex;
    padding: 0;
    margin: 0px;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    align-items: center;
}

.title {
    display: flex;
    margin: 0px;
    width: 70%;
    font-size: 1.5rem;
}

.plus-button {
    width: 3rem;
    height: 3rem;
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 100%;
    background-color: #EE2677;
    cursor: pointer;
}

.plus-button:hover,
.links-to-code:hover {
    transform: scale(1.2);
}

.figure-card {
    margin: 0;
    display: flex;
    justify-content: center;
}

.figure-card img {
    bottom: 1;
    -webkit-box-shadow: -2px -2px 5px 3px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -2px -2px 5px 3px rgba(0, 0, 0, 0.59);
    box-shadow: -2px -2px 5px 3px rgba(0, 0, 0, 0.59);
    width: 80%;
}

.tools {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.links-to-code {
    display: flex;
    align-items: center;
    color: #08415C;
    font-size: 2rem;
    text-decoration: none;
    background-color: #42FFB0;
    border-radius: 10px;
    height: 3rem;
    padding: 0.5rem;
    margin: 0 1rem;
}

.hide {
    display: none;
}

.a-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.up {
    transform: rotateY(0deg);
    transition: transform 0.5s;
}

.down {
    transform: rotate(180deg);
    transition: transform 0.5s;
}

@media screen and (min-width: 768px) {
    .article {
        width: 60%;
    }
    .figure-card {
        width: 100%;
    }
    .flag-info {
        width: 100%;
    }
    .all-info {
        height: 450px;
    }
}

@media screen and (min-width: 1000px) {
    .article {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 45%;
    }
    .figure-card {
        width: 80%;
    }
    .flag-info {
        width: 85%;
    }
    .all-info {
        height: 425px;
    }
}