*{
    box-sizing: border-box;
}

.nav-menu-burguer {
    top: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    height: 100%;
    color: #42FFB0;
    position: absolute;
    transition: width 0.3s;
    background-color: #042635;
    overflow: hidden;
    -webkit-box-shadow: -1px 2px 7px 3px rgba(23,22,23,1);
    -moz-box-shadow: -1px 2px 7px 3px rgba(23,22,23,1);
    box-shadow: -1px 2px 7px 3px rgba(23,22,23,1);
}

span{
    padding: 0.5rem 2rem;
    display: flex;
    font-size: 2.5rem;
    justify-content: flex-end;
    font-weight: bold;
}

span:hover, 
.nav-menu-burguer ul li:hover{
    color: #E72777;
    cursor: pointer;
}

.nav-menu-burguer ul li {
    list-style: none;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.ex{
    position: inherit;
    height: 3rem;
    display: flex;
    font-size: 2rem;
    padding: 0.5rem;
    justify-content: flex-end;
}

.open{
    width: 70%;
}

.close{
    width: 0;
}

.hidden {
    display: none;
}

@media screen and (min-width: 1200px) {
    span{
        display: none;
    }

    .hidden{
        display:flex;
    }

    .ex{
        display: none;
    }
    
    .close{
        width: 70%;
    }

  .nav-menu-burguer, 
  .nav-menu-burguer ul {
      display: flex;
      background-color: transparent;
      height: fit-content;
      box-shadow: none;
      justify-content: flex-end;
  }
  .nav-menu-burguer ul li{
      width: 10rem;
      font-size: 2.5rem;
  }
}